@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-950 text-gray-100 m-0 p-0;
  font-family: 'Noto Serif SC', 'Source Han Serif', serif;
}

* {
  box-sizing: border-box;
}
